<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">MEAN Stack Tutorial</h1>
      <p>This tutorial demonstrate user registeration, user login, and user log out.</p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Angular 12</h2>
        <p>Angular 12 for FE framework.</p>
      </div>
      <div class="col-md-4">
        <h2>Node.js 14</h2>
        <p>Node.js 14 for server </p>
      </div>
      <div class="col-md-4">
        <h2>Express.js</h2>
        <p>Express.js for Server framework</p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>